@import '../../styles/variables';

.bodyWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;

  .content {
    display: flex;
    padding-top: calc(#{$navbar_height} + 20px);
    justify-content: center;
    width: 100%;
    height: 100%;

    @media screen and (min-width: $tablets) {
      width: $main_width;
    }
  }
}
