@import '../../styles/variables';

.list_container {
  display: block;
  height: 100%;
  width: 100%;
}

.actions_container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.action {
  svg {
    cursor: pointer;
  }
}

.add_container {
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-end;
}
