@import '../../styles/variables';

@keyframes spinning {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.loading_spinner_container {
  display: flex;
  width: 100%;
  height: 80px;
  justify-content: center;
  margin-top: 30px;

  .loading_spinner {
    display: block;
    transform: rotate(0deg);
    position: relative;
    width: 80px;
    height: inherit;
    border: 5px solid $main_grey;
    border-top: 5px solid $main_color;
    border-radius: 50%;
    animation: spinning linear 1s infinite;
    -webkit-animation: spinning linear 1s infinite;
  }
}
